<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routing</title>
</head>
<body>

<button id="rayCast" class="float-left submit-button" >Ray-Cast Alorithmus</button>
<button id="map" class="float-left submit-button" >Karte</button>
<button id="geoJson" class="float-left submit-button" >Geo JSON</button>

<script type="text/javascript">
  document.getElementById("rayCast").onclick = function () {
    location.href = "RayCastAlgorithm/rayCastAlgorithm.html";
  };
</script>

<script type="text/javascript">
    document.getElementById("map").onclick = function () {
        location.href = "Map/map.html";
    };
</script>

<script type="text/javascript">
    document.getElementById("geoJson").onclick = function () {
        location.href = "GeoJson/geoJsonHandler.html";
    };
</script>
</body>
</html>